POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_DB=eventhub

DB_HOST=db
DB_PORT=5432
DB_NAME=eventhub
DB_USER=example_user
DB_PASSWORD=example_password

JWT_SECRET_KEY=example_secret_key
JWT_EXPIRE_MINUTES=10